.img {
  width: 300px;
  height: 300px;
}

/*  */
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.slide_wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;

  /* slides전체넓이 width300짜리 8개랑 marginright 30 7개 더하면 2610 */
  /* 슬라이드 하나만 움직이면 330만큼만 움직이면됨 */
}

.slides li:not(:last-child) {
  float: left;
  margin-right: 30px;
}

.controls {
  text-align: center;
  margin-top: 50px;
}

.controls span {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
}
