<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href='/'>Logo</a></h1>
    {% if user %}
    <ul>
        <li><a href='/logout'>로그아웃</a></li>
        <li><a href='/profile'>프로필</a></li>
    </ul>
    {% else %}
    <ul>
        <li><a href='/login'>로그인</a></li>
    </ul>
    {% endif %}
</body>
</html>