<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--
    <script type="text/javascript">
        console.log(document.cookie)
        document.cookie = 'token=0'
        let cookie = document.cookie.split('=')
        // cookie[0] = 'token'
        // cookie[1] = '1'

        if (cookie[0] === 'token' && cookie[1] === '1') {
            alert('넌 인증된 사람이야!!')
        }
        console.log(document.cookie)
    </script>
    -->
</head>
<body>
    <h1>
        <a href="/">Logo</a>
    </h1>
    <form method="post" action="/login">
        아이디: <input type="text" name="userid">
        패스워드: <input type="text" name="userpw">
        <input type="submit" value="로그인">
    </form>
</body>
</html>