<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <a href="/">Logo</a>
        <h2>
            게시판_글쓰기
        </h2>
        <!-- 제목, 작성자, 글쓰기
            Request method GET, POST
            요청의 목적에 따라 사용하는 request method가 다르다.
            GET : 내용을 가지고 오고 싶을 때, 내용을 가지고 와서 화면을 꾸미고 싶을 때 많이 사용 (화면을 그릴 때)
            POST : 웹브라우저에서 웹서버로 내용을 보내야 하는 경우 많이 사용 
        -->
        <form method="post" action="/board/write">
            <ul>
                <li>
                    제목 : <input type="text" name="subject">
                </li>
                <li>
                    작성자 : <input type="text" name="username">
                </li>
                <li>
                    작성일 : <input type="text" name="date">
                </li>
            </ul>
            <input type="submit" value="작성하기">
        </form>
    </h1>
</body>
</html>