.title {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: auto;
  background-color: aqua;
}

.title-box1 {
  width: 120px;
}

.secondbar {
  display: flex;
  width: 500px;
  margin: auto;
  justify-content: space-between;
}

/* img#img1 {
  width: 142px;
  height: 160px;
} */
@keyframes third {
  /* 0 ~ 1000ms */
  /* 3개의 이미지가 동일하게 시간을 차지하는 거 */
  /* 3개의 이미지가 변경되더라도 일정 시간 그 이미지를 출력한다. */
  /* 바위 -> 가위 -> 보 100 / 3 => 33%  */
  /* 바위 -> 가위로 변경 -> 가위 -> 보로 변경 -> 보 -> 바위로 변경 */
  0%,
  33.3% {
    background-image: url("1.gif");
  }
  33.4%,
  66.6% {
    background-image: url("3.gif");
  }
  66.7%,
  100% {
    background-image: url("2.gif");
  }
}
.third {
  animation-name: third;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#thirdbar {
  display: flex;
  width: 150px;
  height: 150px;
  margin: auto;
  justify-content: center;

  /* object-fit: cover; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fourthbar {
  display: flex;
  width: 500px;
  margin: auto;
  justify-content: space-between;
}

#fourth-item1 {
  width: 166px;
  text-align: center;
  background-color: blue;
}
#fourth-item2 {
  width: 166px;
  text-align: center;
  background-color: green;
}
#fourth-item3 {
  width: 166px;
  text-align: center;
  background-color: red;
}

.fifthbar {
  display: flex;
  width: 500px;
  margin: auto;
  justify-content: space-between;
}

/* #fifth-item {
  width: 300px;
  font-size: 30px;
  text-align: center;
  background-color: aqua;
} */

.sixbar {
  display: flex;
  width: 500px;
  margin: auto;
  justify-content: center;
  background-color: yellow;
}
.test {
  opacity: 0;
}
