<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">로고</a></h1>
    <h2>Board</h2>
    <!-- request method GET / POST -->
    <form method="post" action="/board">
        <input type="text" name="page" placeholder="page">
        <input type="text" name="userid" placeholder="userid">
        <input type="password" name="userpw" placeholder="userpw">
        <input type="submit" value="전송">
    </form>
</body>
</html>