<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Logo</h1>
    <h2>글 작성 페이지</h2>
    <form method='post' action='/board/write'>
        <ul>
            <li>제목 : 
                <input type='text' name='title'>
                <p></p>
            </li>
            <li>내용 : 
                <p></p>
                <textarea type="text" name='content'></textarea>
                <p></p>
            </li>
            <li>작성자 : <input type='text' name='author'></li>
        </ul>
        <input type='submit' value='작성하기'>
    </form>
</body>
</html>