<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href='/'>Logo</a></h1>
    <table>
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>내용</td>
            <td>작성자</td>
        </tr>
        {% for item in rows %}
        <tr>
            <td>{{item.id}}</td>
            <td><a href='/board/view/{{item.id}}'>{{item.title}}</a></td>
            <td>{{item.content}}</td>
            <td>{{item.author}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href='/board/write'>글 작성</a>
    
</body>
</html>