body {
  margin: 0;
}

.firstbar {
  margin-left: 30px;
  display: flex;
}

.opensea {
  margin-top: 10px;
  width: 40px;
}

.openseastring {
  margin-top: 10px;
  font-size: 1.2em;
  color: white;
  margin-left: 5px;
}

.firstbarleft {
  display: flex;
  align-items: center;
}

.firstbutton {
  margin-top: 10px;
  margin-left: 30px;
  width: 1000px;
  height: 40px;
  display: flex;
  align-items: center;
}

.firstbarright {
  margin-top: 10px;
  width: 700px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.firstbarright span {
  color: white;
}

.secondbarvideo {
  position: fixed;
  /* left: 0;
  right: 0;
  width: auto;
  height: auto; */
  /* min-width: 100%;
  min-height: 100%; */
  /* z-index: -100; */
  background: url(video.mp4);
  /* background-size: cover; */
}

.videolabel {
  position: relative;
  text-align: center;
  margin-top: 30%;
  margin-left: 30%;
}

.first {
  background-image: url(background.png);
  width: auto;
  height: 650px;
}
