{% extends "_layout.html" %}

{% block content %}
<h2>글수정 페이지</h2>
<p></p>
<form method="post" action="/board/update/{{userId}}/?id={{boardId}}">
    <ul정
        <li>제목 : <input type='text' name="title" value="{{data.title}}"></li>
        <p></p>
        <li>내용 : 
            <p></p>
            <textarea type="text" cols="30" rows="10" name="content">{{data.content}}</textarea>
        </li>
        <p></p>
    </ul>
    <p></p>
    <button type="submit">수정하기</button>
</form>
<p></p>
<a href="/board/list/{{userId}}">글목록</a>
{% endblock %}